<p style="color: green"><%= notice %></p>
<section>
  <div class="blue flex justify-center py-4 text-white"><%= link_to "Back", categories_path %></div>
  <div class="blue flex justify-center py-2 text-white ">CATEGORY name</div>
  <div class="bg-white flex justify-center py-2 text-black ">total amount for the category</div>
  <div id="exchanges">
    <% @exchanges.each do |exchange| %>
      <div class="bg-white flex p-5 m-6 py-8 text-black ">
        <div class="basis-16"><%= exchange.amount%></div>
        <div><%= exchange.name%></div>
        <div>price</div>
        <%= render exchange %>
      </div>
    <% end %>
  </div>
  <div class="bg-lime-500 flex justify-center py-2 text-white"><%= link_to "New exchange", new_exchange_path %>
  </div>
</section>
